.body {
  background: #fefefe;
}
.header {
}
.navigation {
  background: #004385;
  padding: 32px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.navigation__link {
  color: #f0f6f6;
  
}

.main {
  margin: 32px auto;
  max-width: 1000px;
  padding: 50px 0 0 0
}

.main__heading {
}

.about {
}

.about__heading {
}

.about__paragraph {
}

.secondary-heading {
}

.week-summary {
  background-color: whitesmoke;
}

.week-summary__title {
  color: #5bc0eb;
}

.week-summary__description {
  color: #222222;
}

.footer {
  margin: 0 auto;
  max-width: 1000px;
}

.footer__top {
}
