



body { background: #1460AA;

}
h1 {color: whitesmoke;

}
h2 {color: #1460AA;

}

h3 {color: rgb(170, 20, 83);

}

section {background: whitesmoke;

}

article { background: rgb(92, 156, 221);

}

footer { color: whitesmoke;

}