html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.body {
  background-color: #202020;
  color: white;
  font-family: "Fira Code", sans-serif;
}

.navigation {
  background: #004385;
  padding: 32px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
}
.navigation__link {
  text-decoration: none;
  color: hotpink;
  font-size: 24px;
}

.main {
  margin: 32px auto;
  max-width: 1000px;
  padding: 50px 0 0 0;
}

.week-summary {
  background-color: #ffffff;
  color: #333333;
  border-radius: 11px;
}

.week-summary__description {
  color: #222222;
}

.footer {
  margin: 0 auto;
  max-width: 1000px;
}
.footer__link {
  text-decoration: none;
  color: hotpink;
}
