html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: grid;
  grid-template-areas:
    "navigation navigation"
    "main main"
    "footer footer";
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
}
.main {
  display: grid;
  grid-template-areas:
    "header header"
    "article article"
    "article article";
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}
.header {
  grid-area: navigation;
}
.main__header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
